@import "./fonts.css";
/*Общие классы*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
.container {
    max-width: 1020px;
    padding: 0 10px;
    margin: 0 auto;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
button {
    border: none;
    background: none;
}
/*Общие классы*/

/*header section*/
.header {
    width: 100%;
    height: 80px;
    position: absolute;
}
.btn_fixed {
    position: fixed;
    width: 120px;
    height: 120px;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1px;
    color: #000000;
    z-index: 100;
    border: black solid 2px;
    transition: 0.3s;
}
.btn_fixed:hover {
    background: rgba(37, 43, 66, 0.35);
}
.header .container {
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.header_add {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #ffffff;
}
.header_phone {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #ffffff;
}
/*header section*/

/*hero section*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 110px 0 0;
    height: 100vh;
    background: url("../images/barbershop.JPEG") no-repeat center/cover;
}
.hero_title {
    position: relative;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #ffffff;
}
.hero_title:before {
    content: "";
    position: absolute;
    width: 350px;
    height: 2px;
    bottom: -13px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgb(255, 255, 255);
}
.hero_subtitle {
    margin-top: 25px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
}
.hero_btn {
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    border-radius: 5px;
    width: 250px;
    height: 70px;
    border: 2px solid #ffffff;
    transition: 0.3s;
}
.hero_btn:hover {
    background: rgba(37, 43, 66, 0.35);
}
.hero_icons {
    font-size: 24px;
    color: rgb(255, 255, 255);
    height: 100px;
    top: 0;
    bottom: 0;
}
.fa-solid {
    margin-right: 20px;
}
/*hero section*/

/*services section*/
.services {
    padding: 50px 0;
}
.services_title {
    font-weight: 700;
    font-size: 50px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;
    text-align: center;
}
.services_subtitle {
    padding: 20px 0 80px;
    margin: 0 auto 0;
    text-align: center;
    max-width: 500px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.services_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
}
.services_card {
    margin: 0 auto 0;
    max-width: 800px;
}
.card_title {
    font-weight: 700;
    font-size: 26px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.services_price {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.card_time {
    margin: 15px 0;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.card_subtitle {
    position: relative;
    max-width: 800px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #7c7870;
}
.card_subtitle:before {
    content: "";
    position: absolute;
    max-width: 800px;
    height: 1px;
    bottom: -23px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgb(123, 120, 112);
}
.services_link {
    display: inline-block;
    margin-top: 50px;
    text-align: center;
}
.services_btn {
    margin-left: 25px;
    position: relative;
    font-weight: 700;
    font-size: 20px;
    color: #252B42;
    border-radius: 5px;
    width: 250px;
    height: 70px;
    border: 2px solid #252B42;
    transition: 0.3s;
}
.services_btn:hover {
    background: rgba(37, 43, 66, 0.35);
}
.services_btn:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 250px;
    bottom: -302px;
    left: -45px;
    background: rgb(123, 120, 112);
}
.services_btn:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 250px;
    bottom: -302px;
    right: -50px;
    background: rgb(123, 120, 112);
}
/*services section*/

/*info section*/
.info {
    padding: 50px 0;
}
.info_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
}
.info_card {
    margin-left: 52px;
    text-align: center;
    max-width: 225px;
}
.info_card_end {
    margin: 0 auto;
    text-align: center;
    max-width: 225px;
}
.info_icons {
    text-align: center;
    font-size: 60px;
    color: #252B42;
    margin-bottom: 20px;
}
.info_subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #7c7870;
}
/*info section*/

/*content section*/
.content {
    margin-top: 50px;
}
.content .container {
    height: 100%;
}
.content_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
}
.conten_card {
    margin: 0 auto 0;
}
.content_img{
    max-width: 800px;
    max-height: 500px;
}
.content_img img {
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*content section*/

/*footer section*/
.footer {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-top_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #252B42;
}
.footer_partners {
    justify-content: space-between;
    width: 100%;
    margin: 50px 0 50px;
}
.footer_card {
    width: 100px;
    height: 50px;
}
.footer_card img {
    height: 100%;
    width: 100%;
}
.footer_maps {
    width: 100%;
    height: 100%;
}
.footer_mobile_map {
    display: none;
}
.footer_bottom {
    padding: 30px 0 30px;
    text-align: center;
    background: #252B42;
}
.footer-bottom_number {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #ffffff;
}
.footer-bottom_add {
    margin: 5px 0 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #ffffff;
}
.footer-bottom_title {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #ffffff;
}
/*footer section*/